{% extends 'layout.html' %}

{% block title %}
   New Post
{% endblock %}

{% block content %}
    <h1>Create a New User</h1>

    <form method="POST">
        {% csrf_token %}
        
        <div class="form-column">
            <!-- Email Field -->
            <label for="{{ form.user_email.id_for_label }}">Email:</label>
            {{ form.user_email }}
            {% if form.user_email.errors %}
                <ul>
                    {% for error in form.user_email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-column">
            <!-- Password Field -->
            <label for="{{ form.user_password.id_for_label }}">Password:</label>
            {{ form.user_password }}
            {% if form.user_password.errors %}
                <ul>
                    {% for error in form.user_password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <button type="submit">Create User</button>
    </form>
{% endblock %}
