{% extends 'layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h1>Login</h1>

    <p>
   
        <form class="form-column" method="POST">
            {% csrf_token %}
            
            <!-- <div class="form-column">
            -->
            <div>
                <!-- Email Field -->
                <label for="{{ form.user_email.id_for_label }}">Email</label>
                {{ form.user_email }}
                {% if form.user_email.errors %}
                    <ul>
                        {% for error in form.user_email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div>
                <!-- Password Field -->
                <label for="{{ form.user_password.id_for_label }}">Password</label>
                {{ form.user_password }}
                {% if form.user_password.errors %}
                    <ul>
                        {% for error in form.user_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <button type="submit">Login</button>

            <div class="login-links">
                <a href="/dlog/forgot-password">Forgot password?</a> 
                <a href="/dlog/new_user">Sign up</a> 
            </div> 
        </form>
    </p>

{% endblock %}
